# This file includes environment variables that can be committed to git. It's gitignored by default because it represents your local development environment.

# Built-in environment variables
TEAMSFX_ENV=local
APP_NAME_SUFFIX=local

# Generated during provision, you can also add your own variables.
BOT_ID=dac021ea-d0e6-495d-be08-d5c810cab215
TEAMS_APP_ID=b184db6c-e5f1-4801-8677-f6b75ba237c8
BOT_DOMAIN=cbmrzz6s-3978.aue.devtunnels.ms
BOT_ENDPOINT=https://cbmrzz6s-3978.aue.devtunnels.ms
TEAMS_APP_TENANT_ID=33cc2b54-aecc-42ae-8e2b-b630316e8425
BOT_OBJECT_ID=275d9d26-af5c-43e3-8c6d-d59308a0764e

DATABRICKS_SPACE_ID=01f01a8dc7b91f68a712ef89c1987996
DATABRICKS_HOST=https://adb-4230356109678556.16.azuredatabricks.net
DATABRICKS_TOKEN=